[Unit]
Description=Dashboard Api Service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Documents/RFID/Dashboard
ExecStart=/usr/bin/bash /home/pi/Documents/RFID/Dashboard/run.sh
Restart=always

[Install]
WantedBy=multi-user.target