<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َTimeClock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css')}}">
    
  </head>
  <body>

    <div class="flex-col">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
              <p class="alert-{{category}}">{{ message }}</p>
              <!-- {{message}} -->
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    <div>
      <form action="{{ url_for('index', data='closeHours') }}" method="POST">
        <button class="btn-exit btn-top-left" type="submit">X</button>
      </form>
    </div>

    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Entrada</th>
            <th>Salida</th>
            <th>Horas</th>
            <th>Almuerzo</th>
          </tr>
        </thead>
        <tbody>
          {% for r in data_table%}
          <tr>
            <td>{{data[r]['date']}}</td>
            <td>{{data[r]['clk_in']}}</td>
            <td>{{data[r]['clk_out']}}</td>
            <td>{{data[r]['hours']}}</td>
            <td>{{data[r]['no_lunch']}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    
  </body>
</html>

