<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َTimeClock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
    
  </head>
  <body>
    <div class="flex-col nocursor">
      <div class="clock-container">
        <div class="clock-col">
          <p class="clock-day clock-timer">
          </p>
          <p class="clock-label">
            Day
          </p>
        </div>
        <div class="clock-col">
          <p class="clock-hours clock-timer">
          </p>
          <p class="clock-label">
            Hour
          </p>
        </div>
        <div class="clock-col">
          <p class="clock-minutes clock-timer">
          </p>
          <p class="clock-label">
            Minutes
          </p>
        </div>
        <div class="clock-col">
          <p class="clock-seconds clock-timer">
          </p>
          <p class="clock-label">
            Seconds
          </p>
        </div>
      </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                <p class="alert-{{category}}">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

      {% if read != False %}
      <div class="box" >
        <form action="{{ url_for('index') }}" method="post">
          <input class = "clock-in" type="submit" name="clockIn" value="Entrada">
          <input class = "clock-out" type="submit" name="clockOut" value="Salida">
        </form>
      </div>
      {% else %}
      <!-- <div class="box" hidden="True">
        <form action="{{ url_for('index') }}" method="post">
          <input type="submit" name="login" value={{read}}>
        </form> 
      </div> -->
      {% endif %}
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>

