<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َTimeClock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css')}}">
    
  </head>
  <body class="nocursor">
    <h1>Writer</h1>
    <hr/>
    {{data}}


    <div class="table-responsive-wrapper">
      <table class="table table-bordered" id="processInvoiceTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>
              <div class="custom-control custom-checkbox text-center" id="checkAllDiv" hidden>
                <input type="checkbox" class="custom-control-input" id="selectedAllInvoiceCheck"></input>
                <label class="custom-control-label" for="selectedAllInvoiceCheck">All</label>
              </div>
            </th>
            <th>Invoice #</th>
            <th>Invoice Description</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody id="invoices-table-body">
        </tbody>
      </table>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    
  </body>
</html>

