<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َTimeClock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css')}}">
    
  </head>
  <body class="nocursor">


    <!-- <div class="main-container">
      <div class="card-container">
        <div class="card card-3 grid-1-5">
          <h2 class="card__title">Adrian Sandoval-Vargas</h2>
          <p class="card__apply"><a href="#">Apply Now <i class="fas fa-arrow-right"></i></a></p>
        </div>
        <div class="card card-3 grid-1-5">
          <h2 class="card__title">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
          <p class="card__apply"><a href="#">Apply Now <i class="fas fa-arrow-right"></i></a></p>
        </div>
        <div class="card card-3 grid-1-5">
          <h2 class="card__title">Ut enim ad minim veniam.</h2>
          <p class="card__apply"><a href="#">Apply Now <i class="fas fa-arrow-right"></i></a></p>
        </div>
        <div class="card card-3 grid-1-5">
          <h2 class="card__title">Quis nostrud exercitation ullamco laboris nisi.</h2>
          <p class="card__apply"><a href="#">Apply Now <i class="fas fa-arrow-right"></i></a></p>
        </div>
        <div class="card card-3 grid-1-5">
          <h2 class="card__title">Ut aliquip ex ea commodo consequat. Duis aute irure dolor.</h2>
          <p class="card__apply"><a href="#">Apply Now <i class="fas fa-arrow-right"></i></a></p>
        </div>
      </div>
    </div> -->

    <div class="container">
      <ul class="cards">
        <li class="card cards__item">
          <div class="card__frame">
            <div class="card__picture">
              <!-- <img src="https://image.flaticon.com/icons/svg/1496/1496034.svg" alt="" width="120"> -->
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-tie" class="svg-inline--fa fa-user-tie fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm95.8 32.6L272 480l-32-136 32-56h-96l32 56-32 136-47.8-191.4C56.9 292 0 350.3 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z"></path></svg>
            </div>
            <h2 class="card__title">Adrian Sandoval-Vargas</h2>
          </div>
          <div class="card__overlay"></div>
          <div class="card__content">
            <h2>Design</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ipsum veritatis id quia cupiditate sed architecto aliquam nostrum unde nam minima voluptas dicta, beatae sint reprehenderit sit ducimus officiis ratione?</p>
          </div>
        </li>
        <li class="card cards__item">
          <div class="card__frame">
            <div class="card__picture">
              <img src="https://image.flaticon.com/icons/svg/1336/1336494.svg" alt="" width="120">
            </div>
            <h2 class="card__title">Code</h2>
          </div>
          <div class="card__overlay"></div>
          <div class="card__content">
            <h2>Code</h2>
            <p>Dignissimos ipsam culpa vitae vel hic harum omnis doloremque debitis laudantium neque quos iure voluptates quidem ratione esse modi, rerum illum facere eius accusantium dolorem incidunt beatae officiis voluptatem? Nostrum.</p>
          </div>
        </li>
        <li class="card cards__item">
          <div class="card__frame">
            <div class="card__picture">
              <img src="https://image.flaticon.com/icons/svg/478/478543.svg" alt="" width="120">
            </div>
            <h2 class="card__title">Launch</h2>
          </div>
          <div class="card__overlay"></div>
          <div class="card__content">
            <h2>Launch</h2>
            <p>Asperiores, harum dignissimos at neque quaerat, excepturi, ipsa in consectetur blanditiis tempore error! Libero fuga possimus qui saepe temporibus praesentium, ut ratione facere rem distinctio, beatae omnis officiis illum animi.</p>
          </div>
        </li>
      </ul>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    
  </body>
</html>

