<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pdfprint.css')}}">
  </head>
  <body>
    <div>
      Date: {{date}}
      <br>
      Payroll Dates: {{start}} to {{end}}
      <table>
        <thead>
          <tr>
            <th>Employee</th>
            <th>Hours</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
            {% for r in data%}
                <tr>
                    <td style="padding-top: 1mm;">{{data[r]['name']}}</td>
                    <td style="padding-top: 1mm;">{{data[r]['cash_hours']}}</td>
                    <td style="padding-top: 1mm;">{{data[r]['cash_amount']}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>  
  </body>
</html>
